apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: danyalali123/frontend-app:latest
        ports:
        - containerPort: 3000
        env:
        - name: REACT_APP_API_BASE
          value: "http://13.92.68.107:4000"
